* { box-sizing: border-box;}

.ground {
  animation: move 10s steps(1000) infinite forwards;
}

.enemy {
  animation: walk-enemy 10s steps(1000) infinite forwards;
}

.dalek {
  animation: walk 12s steps(1000) infinite forwards;
}

.tardis {
  animation: walk 4s steps(1000) infinite forwards,
  jump 3s steps(1000) infinite forwards;
}

/*@keyframes move {
  100% { background-position: -1680px 0px; }
}*/

@keyframes walk {
100% { margin-left: 1024px;  /*transform: scale(2);*/  }
}

@keyframes walk-enemy {
100% { margin-left: 1024px; /*transform: scale(2);*/  }
}

@keyframes jump {
  25% { bottom: 400px; }
  50% { bottom: 500px; }
  75% { bottom: 400px; }
  100% { bottom: 500px; }
}

.background {
	padding: 100px;
  width: 1024px;
  height: 768px;
  border: thin solid black;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-color: skyblue;
}

.ground {
  background-image: url("220176338-super-mario-background-images.png");
  width: 1280px;
  height: 800px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.enemy {
  background-image: url("enemy.png");
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: 77px;
  margin-left: -175px;
}

.dalek {
  background-image: url("dalek150.png");
  width: 193px;
  height: 150px;
  position: absolute;
  bottom: 77px;
  margin-left: -500px;
  z-index: 4;
}

.tardis {
  background-image: url("tardisgif.gif");
  width: 100px;
  height: 155px;
  position: absolute;
  bottom: 500px;
  margin-left: -250px;
}

.half-pipe {
  background-image: url("half-pipe.png");
  width: 69px;
  height: 103px;
  position: absolute;
  bottom: 78px;
  right: -13px;
  z-index: 1;
}
